.DS_Store
*.tmp
*.tmp.json
*.tmp.obo
*.tmp.owl
bin/
semantic.cache
src/ontology/dosdp-tools.log
src/ontology/ed_definitions_merged.owl
src/ontology/geno-base.*
src/ontology/geno-basic.*
src/ontology/geno-full.*
src/ontology/geno-simple-non-classified.*
src/ontology/geno-simple.*
src/ontology/geno.json
src/ontology/geno.obo
src/ontology/geno.owl
src/ontology/imports/*_terms_combined.txt
src/ontology/merged-geno-edit.owl
src/ontology/mirror
src/ontology/mirror/*
src/ontology/ontologyterms.txt
src/ontology/patterns
src/ontology/patterns 
src/ontology/seed.txt
src/ontology/simple_seed.txt
src/ontology/target/
src/ontology/tmp/*
!src/ontology/tmp/README.md
src/patterns/all_pattern_terms.txt
src/patterns/data/**/*.ofn
src/patterns/data/**/*.txt
src/patterns/imports/seed_sorted.txt
src/patterns/pattern_owl_seed.txt
src/ontology/reports/validate_profile_owl2dl_geno.owl.txt
